---
import Section from "../generals/section/Section.astro"
import LatestPostsContainer from "./LatestPostsContainer.astro"
import Header from "../header/Header.astro"

// ✅ Receive data from props instead of fetching again
const {
  class: className,
  id,
  headerText,
  isTextBlockHeader,
  latestPosts = [],
} = Astro.props
---

<Section class={`${className} mt-16`} id={id}>
  <Header headerText={headerText} isTextBlockHeader={isTextBlockHeader} />
  <LatestPostsContainer latestPosts={latestPosts} />
</Section>
