---
import Section from "../generals/section/Section.astro"
import LatestPostsContainer from "./LatestPostsContainer.astro"
import Header from "../header/Header.astro"
import { fetchLatestPosts } from "../../../js/utils/supabase_methods"

const { class: className, id, headerText, isTextBlockHeader } = Astro.props

const latestPosts = await fetchLatestPosts()
---

<Section class={`${className} mt-16`} id={id}>
  <Header headerText={headerText} isTextBlockHeader={isTextBlockHeader} />
  <LatestPostsContainer latestPosts={latestPosts} />
</Section>
