---
import { fetchLatestPosts } from "../../../js/utils/supabase_methods"
import Card from "../card/Card.astro"

const { class: className, id: id } = Astro.props

const latestPosts = await fetchLatestPosts()
---

<div class="flex gap-8 flex-wrap mt-4">
  {
    latestPosts.length > 0 ? (
      latestPosts.map((latestBlogPostCard) => {
        return (
          <Card
            isBlogPostCard={true}
            headerText={latestBlogPostCard.post_title}
            labelText={latestBlogPostCard.post_categories}
            textBlockParagraphText={latestBlogPostCard.post_excerpt}
            isBlogPostCardText={true}
            isBlogPostCardHeader={true}
            buttonText={latestBlogPostCard.post_card_button_text}
            href={`/blog-posts/${latestBlogPostCard.post_slug}`}
            class="rounded-t-md"
            categories={latestBlogPostCard.post_categories}
            src={`${latestBlogPostCard.post_image}.webp`}
            alt={latestBlogPostCard.post_image_alt}
          />
        )
      })
    ) : (
      <p>No current latest posts</p>
    )
  }
</div>
