---
import Card from "../card/Card.astro"

const { class: className, id: id, posts = [], headerText } = Astro.props
---

<div class="flex gap-8 flex-wrap mt-4">
  {
    posts.length > 0
      ? posts.map((latestBlogPostCard, index) => (
          <Card
            isBlogPostCard={latestBlogPostCard.isBlogPostCard}
            headerText={latestBlogPostCard.headerText}
            labelText={latestBlogPostCard.labelText}
            isBlogPostCardText={latestBlogPostCard.isBlogPostCardText}
            textBlockParagraphText={latestBlogPostCard.textBlockParagraphText}
            isBlogPostCardHeader={latestBlogPostCard.isBlogPostCardHeader}
            buttonText={latestBlogPostCard.buttonText}
            class="rounded-t-md"
            href={`/blog-posts/post-${index + 1}`}
            src={latestBlogPostCard.src}
            alt={latestBlogPostCard.alt}
          />
        ))
      : "No posts"
  }
</div>
