---
import Card from "../card/Card.astro"
import { fetchAllPosts } from "../../../js/utils/supabase_methods"
import FilterContainer from "../containers/FilterContainer.astro"

const posts = await fetchAllPosts()
---

<div class="relative flex flex-col mt-4 w-full">
  <!-- <FilterContainer /> -->
  <div
    class="post-cards-container flex flex-wrap flex-col justify-between mt-4 gap-12 md:flex-row"
  >
    {
      posts && posts.length > 0 ? (
        posts.map((post) => (
          <Card
            class=" rounded-t-md"
            isBlogPostCard={true}
            isBlogPostCardText={true}
            headerText={post.post_title}
            src={`${post.post_image}.webp`}
            href={`/blog-posts/${post.post_slug}`}
            textBlockParagraphText={post.post_excerpt}
            buttonText={post.post_card_button_text}
            categories={post.post_categories}
          />
        ))
      ) : (
        <p>No posts available.</p>
      )
    }
  </div>
</div>
