---
const {
  class: className,
  id,
  href,
  buttonText,
  download,
  share,
  isInteractionButton = false,
  type,
  isScrollToTopBtn,
  isDashboardCardButton,
  isDashboardControlButton,
  isSubmitButton,
  isConfirmButton,
  isCloseModalButton,
  isMobileNavToggleButton,
  "data-is-logged-in": dataIsLoggedIn,
  "data-post-id": dataPostId,
  "data-dashboard-post-id": dashboardPostId,
} = Astro.props
---

{
  // Like, Save, Share buttons
  share || isInteractionButton ? (
    <button
      class={`${className} share-button text-[var(--secondary-text-color)] cursor-pointer`}
      id={id}
      type="button"
      data-is-logged-in={dataIsLoggedIn}
      data-post-id={dataPostId}
      name="interaction-button"
    >
      {buttonText}
      <slot />
    </button>
  ) : href ? (
    // Download button or regular link
    <a
      href={href}
      class={`${className} w-fit text-[var(--secondary-text-color)] cursor-pointer`}
      id={id}
      download={download ? true : undefined}
      data-is-logged-in={dataIsLoggedIn}
      name="download-button"
    >
      {buttonText}
      <slot />
    </a>
  ) : isScrollToTopBtn ? (
    <a
      id={id}
      href="#top"
      class={`${className} grid place-content-center fixed bottom-12 -right-12 h-[45px] w-[45px] bg-white border-2 border-[var(--secondary-text-color)] rounded-full shadow-md transition-all duration-250 hover:border-2 hover:border-[var(--secondary-text-color)] hover:bg-[#131312]`}
      name="scroll-to-top-button"
    >
      {buttonText}
      <slot />
    </a>
  ) : isDashboardCardButton ? (
    <button
      class={`${className} h-[45px] w-[45px] text-lg text-[var(--secondary-text-color)] cursor-pointer hover:border-b-1 border-[var(--secondary-text-color)]`}
      id={id}
      type={type}
      data-is-logged-in={dataIsLoggedIn}
      data-post-id={dataPostId}
      name="dashboard-card-button"
    >
      {buttonText}
      <slot />
    </button>
  ) : isDashboardControlButton ? (
    <button
      class={`${className} text-lg text-[var(--secondary-text-color)] cursor-pointer hover:border-b-2 hover:border-[var(--secondary-text-color)] whitespace-nowrap`}
      name="dashboard-control-button"
    >
      {buttonText}
    </button>
  ) : isSubmitButton ? (
    <button
      class={`${className} text-lg text-white w-full bg-[var(--secondary-text-color)] px-4 py-1 rounded-md cursor-pointer transition-opacity duration-150 ease-in hover:opacity-85`}
      name="submit-button"
    >
      {buttonText}
    </button>
  ) : isConfirmButton ? (
    <button
      class={`${className} text-lg text-white w-full bg-[var(--secondary-text-color)] px-4 py-1 rounded-md cursor-pointer transition-opacity duration-150 ease-in hover:opacity-85`}
      id={id}
      data-dashboard-post-id={dashboardPostId}
      name="confirm-button"
    >
      {buttonText}
    </button>
  ) : isCloseModalButton ? (
    <button
      class={`${className} text-[var(--secondary-text-color)] absolute right-4 top-4`}
      id={id}
      data-dashboard-post-id={dashboardPostId}
      name="close-modal-button"
    >
      <slot />
    </button>
  ) : isMobileNavToggleButton ? (
    <button
      class={`${className} absolute text-white z-[10000000] text-2xl right-6 top-6 transition-right duration-400 ease-in cursor-pointer md:hidden`}
      id={id}
      name="mobile-nav-toggle-button"
    >
      <slot />
    </button>
  ) : null
}

<script>
  const links = document.querySelectorAll("a")
  links.forEach((link) =>
    link.addEventListener("click", (e) => {
      e.stopPropagation()
    }),
  )
</script>
