---
const {
  class: className,
  id,
  href,
  buttonText,
  download,
  share,
  "data-available": dataAvailable,
} = Astro.props
---

{
  share ? (
    <button
      class={`${className} share-button w-fit text-[var(--secondary-text-color)] cursor-pointer`}
      id={id}
      type="button"
      data-available={Astro.props["data-available"]}
    >
      {buttonText}
      <slot />
    </button>
  ) : href ? (
    <a
      href={href}
      class={`${className} w-fit text-[var(--secondary-text-color)] cursor-pointer`}
      id={id}
      download={download ? true : undefined}
      data-available={dataAvailable}
    >
      {buttonText}
      <slot />
    </a>
  ) : (
    <button
      class={`${className} w-fit text-[var(--secondary-text-color)] cursor-pointer`}
      id={id}
      type="button"
      data-available={dataAvailable}
    >
      {buttonText}
      <slot />
    </button>
  )
}
