---
const {
  class: className,
  id,
  href,
  buttonText,
  download,
  share,
  isScrollToTopBtn,
  "data-available": dataAvailable,
} = Astro.props
---

{
  share ? (
    <button
      class={`${className} share-button text-[var(--secondary-text-color)] cursor-pointer`}
      id={id}
      type="button"
      data-available={dataAvailable}
    >
      {buttonText}
      <slot />
    </button>
  ) : href ? (
    <a
      href={href}
      class={`${className} w-fit text-[var(--secondary-text-color)] cursor-pointer`}
      id={id}
      download={download ? true : undefined}
      data-available={dataAvailable}
    >
      {buttonText}
      <slot />
    </a>
  ) : isScrollToTopBtn ? (
    <a
      id={id}
      href="#top"
      class={`${className} grid place-content-center fixed bottom-6 -right-12 h-[45px] w-[45px] bg-white border-2 border-[var(--secondary-text-color)] rounded-full shadow-md transition-all duration-250 hover:border-2 hover:border-[var(--secondary-text-color)] hover:bg-[#131312]`}
    >
      {buttonText}
      <slot />
    </a>
  ) : (
    <button
      class={`${className} w-fit text-[var(--secondary-text-color)] cursor-pointer`}
      id={id}
      type="button"
      data-available={dataAvailable}
    >
      {buttonText}
      <slot />
    </button>
  )
}

<script>
  const links = document.querySelectorAll("a")

  links.forEach((link) =>
    link.addEventListener("click", (e) => {
      e.stopPropagation()
    }),
  )
</script>
