---
const {
  class: className,
  id,
  href,
  buttonText,
  download,
  share,
  isInteractionButton = false,
  type,
  isScrollToTopBtn,
  isDashboardCardButton,
  isDashboardControlButton,
  isSubmitButton,
  "data-is-logged-in": dataIsLoggedIn,
  "data-post-id": dataPostId,
} = Astro.props
---

{
  // Like, Save, Share buttons
  share || isInteractionButton ? (
    <button
      class={`${className} share-button text-[var(--secondary-text-color)] cursor-pointer`}
      id={id}
      type="button"
      data-is-logged-in={dataIsLoggedIn}
      data-post-id={dataPostId}
    >
      {buttonText}
      <slot />
    </button>
  ) : href ? (
    // Download button or regular link
    <a
      href={href}
      class={`${className} w-fit text-[var(--secondary-text-color)] cursor-pointer`}
      id={id}
      download={download ? true : undefined}
      data-is-logged-in={dataIsLoggedIn}
    >
      {buttonText}
      <slot />
    </a>
  ) : isScrollToTopBtn ? (
    <a
      id={id}
      href="#top"
      class={`${className} grid place-content-center fixed bottom-6 -right-12 h-[45px] w-[45px] bg-white border-2 border-[var(--secondary-text-color)] rounded-full shadow-md transition-all duration-250 hover:border-2 hover:border-[var(--secondary-text-color)] hover:bg-[#131312]`}
    >
      {buttonText}
      <slot />
    </a>
  ) : isDashboardCardButton ? (
    <button
      class={`${className} h-[45px] w-[45px] text-lg text-[var(--secondary-text-color)] cursor-pointer hover:border-b-1 border-[var(--secondary-text-color)]`}
      id={id}
      type={type}
      data-is-logged-in={dataIsLoggedIn}
    >
      {buttonText}
      <slot />
    </button>
  ) : isDashboardControlButton ? (
    <button
      class={`${className} text-lg text-[var(--secondary-text-color)] cursor-pointer hover:border-b-2 hover:border-[var(--secondary-text-color)] whitespace-nowrap`}
    >
      {buttonText}
    </button>
  ) : isSubmitButton ? (
    <button
      class={`${className} text-lg text-white w-full bg-[var(--secondary-text-color)] px-4 py-1 rounded-md cursor-pointer transition-opacity duration-150 ease-in hover:opacity-85`}
    >
      {buttonText}
    </button>
  ) : null
}

<script>
  const links = document.querySelectorAll("a")
  links.forEach((link) =>
    link.addEventListener("click", (e) => {
      e.stopPropagation()
    }),
  )
</script>
