---
const {
  class: className,
  id,
  tabText,
  isBlogPostTab = false,
  isActive = false,
  href,
  "data-category": dataCategory,
} = Astro.props
---

{
  href ? (
    <a
      href={href}
      id={id}
      data-category={dataCategory}
      class={`${className} ${
        isActive
          ? "bg-[var(--secondary-text-color)] text-[var(--primary-text-color)]"
          : "bg-[var(--secondary-text-color)] text-white"
      } text-center min-w-[50px] w-fit p-2 rounded-full transition-colors duration-300 cursor-pointer`}
    >
      <h5>{tabText}</h5>
    </a>
  ) : (
    <article
      id={id}
      data-category={dataCategory}
      class="text-center min-w-[50px] w-fit p-2 rounded-full bg-[var(--secondary-text-color)] text-[var(--primary-text-color)]"
    >
      <h5>{tabText}</h5>
    </article>
  )
}
