---
const {
  class: className,
  id: id,
  src,
  alt,
  headerText,
  heroParagraphText,
  isHeroHeader,
} = Astro.props

import Overlay from "../generals/overlay/Overlay.astro"
import Navigation from "../generals/navigation/Navigation.astro"
import Header from "../header/Header.astro"

const navItems = [
  {
    text: "Home",
    href: "/",
  },
  {
    text: "Blog Posts",
    href: "blog-posts",
  },
]
---

<section class={`${className} relative h-[60vh]`} id={id}>
  <img
    src={src}
    alt={alt}
    class="absolute object-cover h-[100%] w-screen rounded-md"
  />
  <div
    class="absolute bottom-3 left-3 hero-desc-container text-white z-[10000]"
  >
    <Header isHeroHeader={true} headerText={headerText} />

    <p class="text-[var(--paragraphs-font)] italic text-md md:text-lg">
      {heroParagraphText}
    </p>
  </div>
  <Navigation navItems={navItems} />
  <Overlay />
</section>
