---
const {
  class: className,
  id: id,
  src,
  alt,
  headerText,
  heroParagraphText,
  isHeroHeader,
  isSingleView,
  hasOverlay,
  href,
  date,
  isLandingHero,
} = Astro.props

import Overlay from "../generals/overlay/Overlay.astro"
import Navigation from "../generals/navigation/Navigation.astro"
import Header from "../header/Header.astro"
import Section from "../generals/section/Section.astro"
import BackButton from "../button/BackButton.astro"
import { getSupabaseServerClient } from "../../../js/supabase/supabase_server"
import { supabaseClient } from "../../../js/supabase/supabase_client"

const navItems = [
  {
    text: "Home",
    href: "/",
  },
  {
    text: "Blog Posts",
    href: "blog-posts",
  },
  {
    text: "Register",
    href: "/register",
    isLoggedIn: true,
  },
  {
    text: "Login",
    href: "/login",
    isLoggedIn: true,
  },
  {
    text: "Dashboard",
    href: "/dashboard",
    isLoggedIn: true,
  },
]
---

{
  isSingleView ? (
    <div class="flex flex-col gap-2">
      <Section class={`${className} relative h-[60vh] overflow-hidden`} id={id}>
        <img
          src={src}
          alt={alt}
          class="absolute object-cover h-[100%] w-screen rounded-md"
        />
        {hasOverlay && <Overlay />}
        <div class="absolute top-[50%] left-[50%] -translate-[50%] hero-desc-container text-white text-3xl z-[10000] md:text-5xl">
          <Header isHeroHeader={true} headerText={headerText} />
          <p class="text-[var(--paragraphs-font)] italic text-md md:text-lg">
            {heroParagraphText}
          </p>
        </div>

        <BackButton href={href} />
      </Section>
    </div>
  ) : isLandingHero ? (
    <Section
      class={`${className} relative top-0 left-0 h-screen w-screen bg-[#131212] overflow-hidden`}
      id={id}
    >
      <Navigation navItems={navItems} />
      <div class="grid place-content-center min-h-screen">
        <slot />
      </div>
    </Section>
  ) : (
    <Section class={`${className} relative h-[60vh] overflow-hidden`} id={id}>
      <img
        src={src}
        alt={alt}
        class="absolute object-cover h-[100%] w-screen rounded-md"
      />
      <div class="absolute bottom-3 left-3 hero-desc-container text-white z-[10000]">
        <Header isHeroHeader={true} headerText={headerText} />
        <p class="text-[var(--paragraphs-font)] italic text-md md:text-lg">
          {heroParagraphText}
        </p>
      </div>
      <Navigation navItems={navItems} />
      {hasOverlay && <Overlay />}
    </Section>
  )
}
