---
const { class: className, id: id, navItems = [] } = Astro.props
const activePage = new URL(Astro.request.url).pathname.replace(/\/$/, "")
const isHome = activePage === "/"
---

<nav class={`${className} sticky z-[1000000] mr-6 pt-4`} id={id}>
  {
    navItems.length > 0 && (
      <ul class="flex gap-4 justify-end text-white text-2xl">
        {navItems
          .filter((item) => item.isShown !== false)
          .map((navItem, index) => {
            const isActive =
              (navItem.href === "/" && isHome) || navItem.href === activePage

            return (
              <li key={index} class="flex justify-center cursor-pointer">
                <a
                  href={navItem.href}
                  class={`
                          relative before:content-[''] before:absolute before:bottom-0 before:left-0 
                          before:w-full before:h-[2px] before:bg-white 
                          before:origin-left before:transition-transform before:duration-300
                          ${navItem.href === activePage ? "before:scale-x-100" : "before:scale-x-0"}`}
                >
                  {navItem.text}
                </a>
              </li>
            )
          })}
      </ul>
    )
  }
</nav>

{
  /* <a
                  href={navItem.href}
                  class={`relative before:content-[''] before:absolute before:bottom-0 before:left-0 
                        before:w-full before:h-[2px] before:bg-white 
                        before:origin-left before:transition-transform before:duration-300
                        ${isActive ? "before:scale-x-100" : "before:scale-x-0 hover:before:scale-x-100"}`}
                >
                  {navItem.text}
                </a> */
}
