---
import TextBlock from "./TextBlock.astro"
const { textBlocks = [] } = Astro.props
---

<div>
  {
    textBlocks.map((block, index) => (
      <TextBlock
        id={block.id}
        hasHeader={block}
        headerText={block.headerText}
        textBlockParagraphText={block.textBlockParagraphText}
        isBlogPostCardText={block.isBlogPostCardText}
        isArticleText={block.isArticleText}
      />
    ))
  }
</div>
