---
import Header from "../header/Header.astro"
import FadeOutOverlay from "../generals/overlay/FadeOutOverlay.astro"
const {
  class: className,
  id,
  headerText,
  hasHeader,
  textBlockParagraphText,
  isBlogPostCardText,
} = Astro.props
---

<article class=`${className} flex flex-col gap-1 mt-8` id={id}>
  {hasHeader && <Header isTextBlockHeader={true} headerText={headerText} />}
  <p class="text-xl">
    {textBlockParagraphText}
  </p>
</article>
