---
const { class: className, id: id, postsSections = [] } = Astro.props
import Section from "./Section.astro"
import Header from "../../header/Header.astro"
import DashboardCardsContainer from "../../containers/DashboardCardsContainer.astro"
import NoReturnMessage from "../../messages/NoReturnMessage.astro"
import Form from "../../form/Form.astro"

const inputs = [
  {
    type: "text",
    label: "First Name",
    placeholder: "Enter your first name",
    id: "firstName",
    required: true,
  },
  {
    type: "text",
    label: "Last Name",
    placeholder: "Enter your last name",
    id: "lastName",
    required: true,
  },
  {
    type: "file",
    label: "Last Name",
    placeholder: "Enter your last name",
    id: "lastName",
    required: true,
  },
]
---

<Form
  id="edit-profile-form"
  inputs={inputs}
  isSubmitButton={true}
  buttonText="Submit"
  headerText="Edit Profile"
  isFormHeader={true}
  type="submit"
/>

<div class="sections-container">
  {
    postsSections.length > 0 ? (
      postsSections.map((postSection) => (
        <Section id={postSection.id}>
          <Header
            isDashboardHeader={postSection.isDashboardHeader}
            headerText={postSection.headerText}
          />
          <DashboardCardsContainer
            posts={postSection.posts}
            messageText={postSection.messageText}
          />
        </Section>
      ))
    ) : (
      <slot />
    )
  }
</div>

<script>
  const sectionsContainers = document.querySelectorAll(".sections-container")

  sectionsContainers.forEach((sectionContainer) =>
    sectionContainer.addEventListener("click", (e) =>
      determinePostCardAction(e),
    ),
  )

  function getClosestButton(e) {
    const button = e.target.closest("button")
    return button
  }

  function determinePostCardAction(e) {
    const button = getClosestButton(e)
    if (!button) {
      return
    }

    // Check if it's a "like" or "save" button based on its icon or card type
    if (button.querySelector(".fa-heart, .fa-heart-broken")) {
      dislikePost()
    } else if (button.querySelector(".fa-bookmark")) {
      unsavePost()
    }
  }

  function dislikePost() {
    console.log("Post disliked")
  }

  function unsavePost() {
    console.log("Post unsaved")
  }
</script>
