---
import Layout from "../layouts/Layout.astro"
import LatestPosts from "../components/posts/LatestPosts.astro"
import Hero from "../components/hero/Hero.astro"
import AboutSection from "../components/about/AboutSection.astro"
import TextBlock from "../components/text_block/TextBlock.astro"
import {
  fetchAboutData,
  fetchAccordianData,
  fetchLatestPosts,
} from "../../js/utils/supabase_methods"

import ScrollToTopButton from "../components/button/ScrollToTopButton.astro"

const accordianData = await fetchAccordianData()
const latestPostsData = await fetchLatestPosts()
---

<Layout title="Home">
  <!-- Hero Section -->
  <Hero
    src="/images/landing_hero/landing_hero_bg.webp"
    alt="landing hero image"
    headerText="ABOUT"
    hasOverlay={true}
  />

  <!-- About Section -->
  <div class="flex flex-col md:flex-row md:justify-between">
    <AboutSection accordianData={accordianData} />
  </div>

  <!-- Latest Posts Section -->
  <LatestPosts
    headerText="Latest Posts"
    isTextBlockHeader={true}
    latestPosts={latestPostsData}
    isLatestBlogPostCard={true}
  />

  <!-- <ScrollToTopButton /> -->
</Layout>
