---
import Layout from "../layouts/Layout.astro"
import LatestPosts from "../components/posts/LatestPosts.astro"
import Hero from "../components/hero/Hero.astro"
import AboutSection from "../components/about/AboutSection.astro"
import TextBlock from "../components/text_block/TextBlock.astro"
import Section from "../components/generals/section/Section.astro"
import Video from "../components/videos/Video.astro"

const accordionItems = [
  {
    accordionItemTitle: "1. Music",
    accordionItemIcon: "fas fa-music",
    accordionItemText:
      "I have been playing the piano since I was 8. On top of that, I have been a fan of reggae since I was 11, and this genre of music is what I primarily listen to.",
  },
  {
    accordionItemTitle: "2. Workout",
    accordionItemIcon: "fas fa-bicycle",
    accordionItemText:
      "I love to go for a bike ride quite often - either outside, when the weather allows for it or inside, when the weather is bad. Besides that, I work as a delivery guy, which means more time on the bike.",
  },
  {
    accordionItemTitle: "3. Sparetime",
    accordionItemIcon: "fas fa-hourglass-half",
    accordionItemText:
      "In my sparetime, I really like to solve riddles and other puzzles of different types - all from online riddles to escape rooms and anything in between.",
  },
]

const latestPosts = [
  {
    isBlogPostCard: true,
    headerText: "How the browser reads CSS",
    labelText: "CSS",
    isBlogPostCardText: true,
    isBlogPostCardHeader: true,
    textBlockParagraphText:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit sint, vitae fugit culpa earum nostrum nemo odio eligendi aliquam temporibus",
    buttonText: "Read More",
    href: "#",
    src: "/images/landing_hero/landing_hero_bg.webp",
    alt: "blog post card image",
  },
  {
    isBlogPostCard: true,
    headerText: "What is HTML?",
    labelText: "HTML",
    isBlogPostCardText: true,
    isBlogPostCardHeader: true,
    textBlockParagraphText:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit sint, vitae fugit culpa earum nostrum nemo odio eligendi aliquam temporibus",
    buttonText: "Read More",
    href: "#",
    src: "/images/landing_hero/landing_hero_bg.webp",
    alt: "blog post card image",
  },
]
---

<Layout title="Home">
  <Hero
    src="/images/landing_hero/landing_hero_bg.webp"
    alt="landing hero image"
    headerText="Victor Schweitz"
    heroParagraphText="The author of World Wide Web Development"
    hasOverlay={true}
  />
  <div class="flex flex-col md:flex-row md:justify-between">
    <div class="space-y-6 mt-8 md:w-1/2">
      <TextBlock
        hasHeader={true}
        headerText="Who am I?"
        textBlockParagraphText="I’m Victor Schweitz, a 25-year-old born in the US to Danish parents—which means I’m lucky enough to call both countries home. I grew up in Denmark with my mom, dad, and my younger sister, who’s 23."
      />

      <TextBlock
        hasHeader={true}
        headerText="Development"
        textBlockParagraphText="My journey into web development began in 2017, about three-quarters of the way through my first year of high school. I stumbled across a newspaper article about a book called 'How To Code', bought it the next day—and I was hooked. That spark led me to start a computer science degree, which I later swapped for multimedia design when I realized how important the graphical side was to me. I graduated in the Summer of 2025."
      />

      <TextBlock
        hasHeader={true}
        headerText="Writing"
        textBlockParagraphText="Back in the summer of 2021, I began publishing technical articles on various web development topics—sharing tips, experiments, and lessons learned. This page is my space to collect and showcase them in one place - all for you to read and enjoy."
      />
    </div>
    <AboutSection accordionItems={accordionItems} />
  </div>

  <LatestPosts
    headerText="Latest Posts"
    isTextBlockHeader={true}
    latestPosts={latestPosts}
    class="mt-4"
  />
</Layout>
