---
import LoginSignUpLayout from "../layouts/LoginSignUpLayout.astro"
import Form from "../components/form/Form.astro"
import Button from "../components/button/Button.astro"

const signUpFormInputs = [
  {
    type: "text",
    label: "Name",
    name: "name",
    placeholder: "Enter your name",
    required: true,
  },
  {
    type: "email",
    label: "Email",
    name: "email",
    placeholder: "Enter your email",
    required: true,
  },
  {
    type: "password",
    label: "Password",
    name: "password",
    required: true,
    placeholder: "Please enter password",
  },
  {
    type: "password",
    label: "Repeat password",
    name: "repeat_password",
    required: true,
    placeholder: "Please repeat password",
  },
]
---

<LoginSignUpLayout title="Sign up">
  <Form
    id="sign_up_form"
    isFormHeader={true}
    headerText="Sign up"
    inputs={signUpFormInputs}
    isSubmitButton={true}
    id="sign_up_form"
    buttonText="Sign up"
  />
  <div class="text-center mt-4">
    <h4>Already a user? Log in <Button href="/login" buttonText="here." /></h4>
  </div>
</LoginSignUpLayout>

<script>
  import { supabaseClient } from "../../js/supabase/supabase_client"
  import { signUpUser } from "../../js/supabase/supabase_methods.js"

  const signUpForm = document.querySelector("#sign_up_form")

  signUpForm?.addEventListener("submit", (e) => createUser(e))

  async function createUser(e) {
    e.preventDefault() // prevent default form submission

    const formData = new FormData(signUpForm)
    const nameInput = formData.get("name")
    const emailInput = formData.get("email")
    const passwordInput = formData.get("password")
    const repeatPasswordInput = formData.get("repeat_password")

    if (passwordInput !== repeatPasswordInput) {
      alert("Passwords do not match!")
      return
    }

    // Sign up user
    const result = await signUpUser(nameInput, emailInput, passwordInput)

    // If no success at signing up the user
    if (!result.success) {
      alert(`Signup failed: ${result.signUpError}`)
      return
    }

    alert(`Sign up successful! Welcome, ${nameInput}!`)
    signUpForm?.reset()
    // location.href = "/dashboard"
  }
</script>
