---
const {
  class: className,
  id: id,
  src,
  alt,
  heroHeaderText,
  heroParagraphText,
} = Astro.props
---

<section class={`${className} relative h-[80vh]`} id={id}>
  <img
    src={src}
    alt={alt}
    class="absolute object-cover h-[100%] w-screen rounded-md"
  />
  <div
    class="absolute bottom-3 left-3 hero-desc-container text-white z-[10000]"
  >
    <header class="relative">
      <h1 class="text-[var(--headings-font)] uppercase text-2xl">
        {heroHeaderText}
      </h1>
    </header>
    <p class="text-[var(--paragraphs-font)] italic">
      {heroParagraphText}
    </p>
  </div>
</section>
