---
const {
  class: className,
  id,
  headerText,
  isSingleViewHeader,
  isTextBlockHeader,
  isBlogPostCardHeader,
  isDashboardHeader,
  isLikedBlogPostCardHeader,
  isSavedBlogPostCardHeader,
  isHeroHeader,
  isFormHeader,
  alt,
  src,
} = Astro.props
---

{
  isTextBlockHeader ? (
    <header
      class={`${className === "hero-header" ? "text-white" : "text-[var(--secondary-text-color)]"} text-2xl font-bold uppercase tracking-wide`}
      id={id}
    >
      <h1>{headerText}</h1>
    </header>
  ) : isBlogPostCardHeader ? (
    <header
      class={`font-bold text-[var(--secondary-text-color)] text-2xl`}
      id={id}
    >
      <h1>{headerText}</h1>
    </header>
  ) : isHeroHeader ? (
    <header class="text-white text-4xl uppercase font-bold md:text-5xl">
      <h1>{headerText}</h1>
    </header>
  ) : isSingleViewHeader ? (
    <header class="absolute z-[100000] top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white text-3xl text-center uppercase font-bold md:text-5xl">
      <h1>{headerText}</h1>
    </header>
  ) : isDashboardHeader ? (
    <header
      class="font-bold text-3xl mt-6 mb-2 text-left text-[var(--secondary-text-color)] md:mt-0"
      id={id}
    >
      {src && <img src={src} alt={alt || "User avatar"} />}
      <h1>{headerText}</h1>
    </header>
  ) : isLikedBlogPostCardHeader ? (
    <header
      class={`${className} absolute bottom-0 left-0 w-full p-2 text-2xl text-center font-bold text-white line-clamp-1 transition duration-150 ease-in group-hover:line-clamp-none`}
      id={id}
    >
      <h1>{headerText}</h1>
    </header>
  ) : isSavedBlogPostCardHeader ? (
    <header
      class={`${className} absolute bottom-0 left-0 w-full p-2 text-2xl text-center font-bold text-white line-clamp-1 transition duration-150 ease-in group-hover:line-clamp-none`}
      id={id}
    >
      <h1>{headerText}</h1>
    </header>
  ) : isFormHeader ? (
    <header
      class="text-[var(--secondary-text-color)] text-xl text-center uppercase font-bold tracking-wider"
      id={id}
    >
      <h1>{headerText}</h1>
    </header>
  ) : (
    <header
      class={`${className === "hero-header" ? "text-white" : "text-[var(--secondary-text-color)]"} text-2xl`}
      id={id}
    >
      <h1>{headerText}</h1>
    </header>
  )
}
