---
const {
  class: className,
  id: id,
  headerText,

  isTextBlockHeader,
  isBlogPostCardHeader,
  isHeroHeader,
} = Astro.props
---

{
  isTextBlockHeader ? (
    <header
      class={`${className === "hero-header" ? "text-white" : "text-[#f45b35]"} text-2xl font-bold uppercase tracking-wide`}
      id={id}
    >
      <h1>{headerText}</h1>
    </header>
  ) : isBlogPostCardHeader ? (
    <header class="text-xl font-bolder">{headerText}</header>
  ) : isHeroHeader ? (
    <header class="text-white text-2xl uppercase font-bolder md:text-3xl">
      {headerText}
    </header>
  ) : (
    <header
      class={`${className === "hero-header" ? "text-white" : "text-[#f45b35]"} text-2xl`}
      id={id}
    >
      <h1>{headerText}</h1>
    </header>
  )
}
