---
import Layout from "../layouts/Layout.astro"
import Hero from "../components/hero/Hero.astro"
import Section from "../components/generals/section/Section.astro"
import Tab from "../components/tabs/Tab.astro"
import TabsContainer from "../components/tabs/TabsContainer.astro"
import Button from "../components/button/Button.astro"
import Aside from "../components/aside/Aside.astro"
import InteractionButton from "../components/interactions/InteractionButton.astro"
import InteractionsContainer from "../components/interactions/InteractionsContainer.astro"
import TableOfContents from "../components/table_of_contents/TableOfContents.astro"
import { formatDate } from "../../js/formatting.js"
import { supabaseClient } from "../../js/supabase/supabase_client"

const { frontmatter, headings } = Astro.props

const {
  title,
  download,
  priorKnowledge,
  readingTime,
  asideImageSrc,
  authorName,
  categories,
  date,
  authorDescription,
  image: { src, alt },
} = Astro.props

const currentPostCategories = categories.map((category) => ({
  isBlogPostTab: true,
  href: `/blog-posts?category=${encodeURIComponent(category.toLowerCase())}`,
  tabText: category,
}))

const interactionButtons = [
  {
    id: "like_button",
    class: "fas fa-heart text-2xl",
    isLoggedIn: true,
  },
  {
    id: "save_button",
    class: "fas fa-bookmark text-2xl",
    isLoggedIn: true,
  },
  {
    id: "download_button",
    href: download,
    download: "how_the_browser_reads_css",
    class: "fas fa-download text-2xl",
    isLoggedIn: true,
  },
  {
    id: "share_button",
    class: "fas fa-share text-[var(--secondary-text-color)] text-2xl",
    isLoggedIn: true,
  },
]

const formattedDate = date ? formatDate(date) : "Unknown date"
---

<Layout title={title}>
  <main class="w-full md:max-w-[90vw] mx-auto">
    <div class="flex flex-col gap-4">
      <Hero
        isSingleView={true}
        heroText={title}
        src={`${src}.webp`}
        alt={alt}
        date={date}
        hasOverlay={true}
        href="/blog-posts"
      />

      <div
        class="author-categories-container flex flex-col gap-4 items-start md:flex-row md:justify-between"
      >
        <div>
          <h3 class="text-lg">
            <span class="text-[var(--secondary-text-color)] font-bold"
              >Author:</span
            >
            {authorName}
          </h3>
          <h3 class="text-lg publish-date">
            <span class="text-[var(--secondary-text-color)] font-bold"
              >Published:</span
            >
            {formattedDate}
          </h3>
        </div>

        <div class="tabs-container flex gap-2 mb-4">
          {
            currentPostCategories.map((tab) => (
              <Tab
                tabText={tab.tabText}
                isBlogPostTab={tab.isBlogPostTab}
                href={tab.href}
                class="uppercase"
              />
            ))
          }
        </div>
      </div>
    </div>

    <Section
      class="prior-to-reading flex flex-col gap-4 md:flex-row md:justify-between mt-6 mb-24"
    >
      <div class="prior-knowledge">
        <h3 class="text-[var(--secondary-text-color)] text-xl font-bold">
          Prior knowledge:
        </h3>
        <p class="text-xl">{priorKnowledge}</p>
      </div>

      <div class="reading-time">
        <h3 class="text-[var(--secondary-text-color)] text-xl font-bold">
          Reading time:
        </h3>
        <p class="text-xl">{readingTime}</p>
      </div>
    </Section>

    <div class="flex flex-col gap-8 md:flex-row md:justify-between">
      <TableOfContents
        class="border-2 border-[var(--secondary-text-color)]"
        headerText="Content of blog post:"
        headings={headings}
      />

      <!-- Main content -->
      <div
        class="blog-post-content prose prose-p-0 prose-m-0 mt-12
           prose-p:text-[var(--paragraphs-font)]
           prose-h1:text-[var(--secondary-text-color)] prose-h1:m-0
           prose-h2:text-[var(--secondary-text-color)]
           prose-h2:mb-0
           prose-p:text-xl
           prose-h3:text-[var(--secondary-text-color)] prose-h3:inline-block
           prose-h3:border-b-2 prose-h3:border-[var(--secondary-text-color)]
           prose-h3:text-xl prose-h3:mt-2
           prose-code:rounded
           prose-a:text-[var(--secondary-text-color)] prose-a:no-underline
           prose-h4:text-lg prose-h4:mt-1 prose-h4:mb-4
           prose-img:mb-0
           prose-hr:border-2 prose-hr:border-[var(--secondary-text-color)] prose-hr:block prose-hr:pb-0 prose-hr:mt-4 prose-hr:w-[250px]
           md:prose-max-w-none md:w-[60vw] order-last md:order-first"
      >
        <slot />
      </div>
    </div>

    <InteractionsContainer interactionButtons={interactionButtons} />
  </main>
</Layout>
