---
import "../styles/global.css"
import MainFooter from "../components/footer/MainFooter.astro"
import LandingFooter from "../components/footer/LandingFooter.astro"
import ScrollToTopButton from "../components/button/ScrollToTopButton.astro"

const { title, isLandingHero } = Astro.props

// Detect current page path automatically
const isLandingPage = Astro.url.pathname === "/"

const currentYear = new Date().getFullYear()

const socialLinks = [
  {
    href: "https://www.instagram.com/worldwidewebdevelopment?utm_source=ig_web_button_share_sheet&igsh=MWdoOXk2cTcxZnl2bQ==",
    class: "fa-brands fa-instagram",
    target: "_blank",
  },
]

const footerItems = [
  {
    footerItemText: "WWWD",
  },
  {
    footerItemText: `${currentYear}`,
  },
]
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Stay updated with the latest in tech, coding tips, and web development tutorials on WWWD Tech Blog." />
    <script
      src="https://kit.fontawesome.com/2a447b40ae.js"
      crossorigin="anonymous"></script>
    <script src="/js/zod.js" defer></script>
    <title>{title}</title>
  </head>
  <body class="min-h-screen flex flex-col">
    {
      isLandingHero ? (
        <main class="flex-1">
          <slot />
        </main>
      ) : (
        <main class="flex-1 pt-4 pb-8 px-10">
          <slot />
        </main>
      )
    }

    {
      isLandingPage ? (
        <LandingFooter socialLinks={socialLinks} />
        
      ) : (
        <MainFooter footerItems={footerItems} socialLinks={socialLinks} />
        <ScrollToTopButton />
      )
    }

  </body>
</html>
